name: Docker Build Test

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Kodlari GitHub'dan cek
        uses: actions/checkout@v4

      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Bağımlılıkları Kur
        run: |
          pip install -r requirements.txt
          pip install pytest httpx

      # --- TEST ADIMI
      - name: Run Automated Tests
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest

      - name: Docker Imajini Build Et
        run: |
          docker build -t ml-api-image:latest .

      - name: Test Calistirmasi
        run: |
          docker run --detach -p 8080:80 ml-api-image:latest
          sleep 5
          curl http://localhost:8080/
